<?xml version="1.0" encoding="utf-8" ?>

<Topic Id="PDEXTopic" Importance="1">
  <Tasks>
    <Task Id="GeneratePDEXMessages" pipelineId="PDEXTopicPipeline">
      <SupportedPlatforms>
        <SupportedPlatform Version="V100" platform="Executive"/>
        <SupportedPlatform Version="V100" platform="Professional"/>
      </SupportedPlatforms>
    </Task>
  </Tasks>

  <IntegrationConfig Version="3.0">
    <Pipelines>
      <Pipeline Id="PDEXTopicPipeline" Active="true">
        <Handlers>
          <Handler Id="ErpReadConfigHandler" Order="1" Behavior="Reader" Type="Primavera.Platform.HurakanHandlers.ErpReadConfig" ConfigStr="instanceIdFilter=%%InstanceId%%;enterpriseFilter=%%EnterpriseFilter%%"/>
          <Handler Id="PDEXHandler" Order="2" Behavior="Reader" Type="Primavera.Bot.PDEXTopic.PDEXHandler" ConfigStr="topicId=%%TopicId%%;taskId=%%TaskId%%"/>
        </Handlers>
      </Pipeline>
    </Pipelines>
  </IntegrationConfig>
</Topic>